@font-face {
  font-family : 'textile';
  src         : url('/assets/Textile.ttf');
}

body {
  margin           : 0;
  padding          : 0;
  background-color : black;
  font-family      : 'textile';
}

input {
  font-family: 'textile'
}

.app {
  display         : flex;
  height          : 100vh;
  align-content   : center;
  justify-content : center;
}

.input-field {
  display         : flex;
  height          : auto;
  margin          : 0 auto;
  flex-direction  : column;
  justify-content : center;
}

.test {
  color            : red;
  background-color : red;
}

.input-field {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
}

.form {
  margin     : auto;
  align-self : center;
}

.flex {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
}

.input-text {
  width : 100%;
}

.input {
  box-sizing       : border-box;
  width            : 100%;
  margin           : 8px 0;
  padding          : 12px 20px;
  color            : white;
  border           : 0;
  border-bottom    : 1px solid white;
  background-color : transparent;
}

.spacer {
  margin : 5px;
}

.input-text label {
  position   : relative;
  bottom     : 2.2rem;
  left       : 0;
  color      : #9e9e9e;
  font-size  : 1rem;
  transition : .2s ease-out;
  cursor     : text;
}

.input-text input[type=text]:focus + label {
  bottom    : 4rem;
  color     : green;
  font-size : .75rem;
}

.input-text input[type=text]:focus {
  border-bottom : 1px solid green;
  outline       : none;
  box-shadow    : 0 1px 0 0 green;
}

.input-text input[type=text]:active {
  bottom    : 4rem;
  color     : green;
  font-size : .75rem;
}

.input-text input[type=text].valid {
  border-bottom : 1px solid green;
  outline       : none;
}


.column {
  min-width : 100px;
}

.row {
  display : flex;
  width   : 400px;
  margin  : 0 auto;
}
